<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="../../assets/images/shorcut.png" />

  <title>Codashop - Pesanan Selesai</title>

  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous">
  </script>
  <!-- Main CSS-->
  <link rel="stylesheet" href="../../assets/css/style.css">

  <!-- Table CSS -->
  <link rel="stylesheet" href="../../assets/css/table.css">

  <!-- Tampilan Nav-Bar -->
</head>

<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"> Admin Page </a>
    <div class="col text-end">
      <a href="/auth/logout" class="btn btn-primary">Keluar</a>
    </div>
  </div>
</nav>

<!-- Tampilan Tabel Keterangan -->
<main>
  <div class="row">
    <div class="col-md-5 col-lg-2 square">
      <div class="info">
        <div class="alert alert-info" role="alert">
          <a href="Semua-pesanan" class="underline text-decoration-none"><b> Semua Pesanan </b></a>
          <!-- <p><b> 16 </b></p> -->
        </div>
      </div>
    </div>

    <div class="col-md-5 col-lg-2 square">
      <div class="info">
        <div class="alert alert-danger" role="alert">
          <a href="Belum-Bayar" class="underline text-decoration-none"><b>Belum Dibayar</b></a>
          <!-- <p><b> 4 </b></p> -->
        </div>
      </div>
    </div>

    <div class="col-md-5 col-lg-2 square">
      <div class="info">
        <div class="alert alert-success" role="alert">
          <a href="Sudah-Bayar" class="underline text-decoration-none"><b>Sudah
              Dibayar</b></a>
          <!-- <p><b> 4 </b></p> -->
        </div>
      </div>
    </div>

    <div class="col-md-5 col-lg-2 square">
      <div class="info">
        <div class="alert alert-primary" role="alert">
          <a href="Siap-Dikirim" class="underline text-decoration-none"><b>Siap Dikirim</b></a>
          <!-- <p><b> 4 </b></p> -->
        </div>
      </div>

    </div>

    <div class="col-md-5 col-lg-2 square">
      <div class="info">
        <div class="alert alert-success" role="alert">
          <a href="Selesai" class="underline text-decoration-none-underline sp"><b>Selesai</b></a>
          <!-- <p><b> 4 </b></p> -->
        </div>
      </div>
    </div>

    <div class="col-md-5 col-lg-2 square">
      <div class="info">
        <div class="alert alert-danger" role="alert">
          <a href="Kode-Pembayaran-Retail" class="underline text-decoration-none"><b> Kode Tagihan
            </b></a>
          <!-- <p><b> 4 </b></p> -->
        </div>
      </div>
    </div>
  </div>
</main>


<!-- Tampilan Tabel Data -->
<main>
  <table class="content-table">
    <thead>
      <tr>
        <th> Nomor Transaksi </th>
        <th> Tanggal </th>
        <th> Nama </th>
        <th> Kategori </th>
        <th> Nominal Order </th>
        <th> Metode Pembayaran </th>
        <th> Harga </th>
      </tr>
    </thead>

    <tbody>
      <%Selesai.forEach(sale => {%>
      <tr>
        <td><%= sale.no %> </td>
        <td> <%= sale.date %> </td>
        <td> <%= sale.name %> </td>
        <td> <%= sale.game %> </td>
        <td> <%= sale.product %> </td>
        <td> <%= sale.payment %> </td>
        <td> Rp<%= sale.price %> </td>
      </tr>
      <%})%>
    </tbody>
  </table>

  <!-- Sumber JS -->
  <script src="../../assets/js/table.js"></script>
  <script src="https://kit.fontawesome.com/695144269c.js" crossorigin="anonymous"></script>